/* Photo syle for mintPhoto */
/* (C) Copyright 2009 Nicholas Paun. All Rights Reserved. */

.mintphoto-content
 {
  margin-left: 6%; /*HACK: Centers div in FF*/
  text-align: center;
 }

.mintphoto-title
 {
  text-align: center;
  font-family: sans-serif;
  font-size: 200%;
  background: url('Sunrise_thailand_ko_samui.jpg') repeat scroll right; /*Any image will do*/
  border: 1px solid #EEEEFF;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  color: white;
}

.mintphoto-thumb
 {
  border: 0;
 }

.mintphoto-imageviewer
 {
  text-align: center;
  height: 100%;
 }

.mintphoto-image
 {
  text-align: center;
  border: 0;
  width: 938px;
  height: 704px;
 }

.mintphoto-caption
 {
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
 }

.mintphoto-home
 {
  display: none;
  background-color: #01796F;
  color: white;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1px;
  text-decoration: none;
  font-weight: bold;
 }

.mintphoto-imagepreview
{
  width: 200px;
  height: 205px;
  background: url(bg-shade-light.png) repeat-x scroll left bottom;
  border: 1px solid #DDDDDD;
  float: left;
  margin: 2px 2px 2px 2px;
}

.mintphoto-caption-small
 {
  font-size: 70%;
  font-weight: bold;
  text-align: center;
  color: black;
 }

.mintphoto-caption-link
{
 text-decoration: none;
 color: black;
}

/*Uncomment line to activate subtheme*/
/*@import url('stellar.css');*/ /*Dark Theme*/
/*@import "aurora.css";*/  /*Aurora Theme*/
/*@import url('random.css');*/ /*Random Image*/

